{{ define "Objects_New" }}
  {{ template "Header" }}
    <div class="container col-5">
        <h2>New Object</h2>  
        <!--<form method="POST" action="/objects_insert">
        -->
        <form
          enctype="multipart/form-data"
          action="/objects_insert"
          method="POST"
        >
          <div class="form-group">
              <label> Name </label>
              <input type="text" name="name" class="form-control"/>
          </div>
          <div class="form-group">
              <label> Content </label>
              <!--<input type="text" name="content" class="form-control"/>
              <input type="hidden" name="content" value="test">-->
              <div><input type="file" name="content_file" /></div>
              <div><a href="/image_get"/>GET IMAGE</a>
          </div>
          <input type="submit" value="Save object" class="btn btn-primary"/>
        </form>
    </div> 
  {{ template "Footer" }}
{{ end }}
