{{ define "Phases" }}
{{ template "Header" }}
<div class="container">
  <h2> Phase List </h2>

  <p>
      <a href="/phases_new" class="btn btn-primary">New Phase</a>
  </p>
  <table id="tabledata" class="display" style="width: 100%">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Objects</th>
        <th></th>        
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Objects</th>
        <th></th>        
      </tr>
    </tfoot>
    <tbody>
      {{ range . }}
      <tr>
        <td>{{ .Id }}</td>
        <td> {{ .Name }}  </td>
        <td>{{ .Objects }} </td>
        <td>
          <a href="/phases_show?id={{ .Id }}" class="btn btn-primary">View</a>
          <a href="/phases_edit?id={{ .Id }}" class="btn btn-primary">Edit</a>
          <a href="/phases_del?id={{ .Id }}" onclick="return confirm('Are you sure you want to delete Phase ID #{{ .Id }}?')" class="btn btn-danger">Delete</a>
        </td>
      </tr>
      {{ end }}
    </tbody>

  </table>

</div>
{{ template "Footer" }}
{{ end }}
